.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    height: fit-content;
    border: 2px solid black;
    width: 100%;
}
.logo_navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}
.logo_navbar:hover {
    cursor: pointer;
}
