.about_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background-color: #ba7a7a;
    min-height: 100vh;
}
.about_section {
    border: 2px solid brown;
    background-image: url("https://1drv.ms/i/c/09e336c8c6cc3c06/IQSV9Cnr0Zj9SLTVGylGwMnCAdLf9Bb6d3v6BDena__yGdE");
    padding: 30px 10px;
    height: fit-content;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 10%;
}
.text_section {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    justify-content: center;
    padding: 10px 20px;
    text-align: left;
    margin-bottom: 40px;
    background-color: #e6cbcb;
}
.about_image {
    width: 100%;
    max-height: 500px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}