
h1 {
    font-size: 40px;
}
a:hover {
    text-decoration: underline;
}
.parent_container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.child_container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    max-height: fit-content;
    text-align: left;
    border: 1px solid black;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
.shiny_button {
    font-size: 150%;
    color: gold;
    background-image: linear-gradient(90deg, red, blue);
    border-radius: 10px;
    padding: 1%;
}