#root {
  text-align: center;
}
h1 {
  margin-bottom: 0px;
}
a {
  width: fit-content;
  text-decoration: none;
  color: inherit;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 2%;
}
.transparent_button {
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-left: -5px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.window {
  max-width: 600px;
  margin: 20px auto;
  padding: 2rem;
  text-align: left;
  border-radius: 1rem;
  box-shadow: 0 0 2rem #00000044;
  background-color: #ffffffaa;
  backdrop-filter: blur(10px);
}

.window_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.window_header {
  display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #34495e;
    max-width: fit-content;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 80%;
    overflow: scroll;
}
textarea {
  width: 100%;
  min-height: fit-content;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: vertical;
}
.clickable {
    cursor: pointer;
    user-select: none;
}
@keyframes zoom-in-out {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes logo-spin {
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: logo-spin infinite 1s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
p {
    word-break: break-word;  /* Break long words if needed */
    overflow-wrap: break-word;  /* Wrap overflow text */
    hyphens: auto;  /* Add hyphens when breaking words */
    line-height: 1.6;  /* Improve readability */
}
